# Node
node_modules/
.env

# Builds
dist/
build/

# Logs
npm-debug.log*
yarn-error.log*

# OS
.DS_Store


node_modules/
.env
backend/node_modules/
client/node_modules/

# build files
client/.next/
client/build/
backend/dist/

# logs
npm-debug.log